https://www.sqlitetutorial.net/sqlite-sample-database/
https://www.chrisnicoll.net/2020/02/exploring-an-sqlite-database-from-jupyter-notebook/

In [1]:
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('chinook.db')
cur = conn.cursor()

In [3]:
cur.execute("SELECT name FROM sqlite_master WHERE type = 'table'").fetchall()

[('albums',),
 ('sqlite_sequence',),
 ('artists',),
 ('customers',),
 ('employees',),
 ('genres',),
 ('invoices',),
 ('invoice_items',),
 ('media_types',),
 ('playlists',),
 ('playlist_track',),
 ('tracks',),
 ('sqlite_stat1',)]

In [6]:
for row in cur.execute("""
                        SELECT name
                        FROM sqlite_master
                        WHERE type = 'table'
                        """):
    print(row)

('albums',)
('sqlite_sequence',)
('artists',)
('customers',)
('employees',)
('genres',)
('invoices',)
('invoice_items',)
('media_types',)
('playlists',)
('playlist_track',)
('tracks',)
('sqlite_stat1',)

In [8]:
cur.execute('SELECT * FROM Albums').description

(('AlbumId', None, None, None, None, None, None),
 ('Title', None, None, None, None, None, None),
 ('ArtistId', None, None, None, None, None, None))

In [ ]:
https://towardsdatascience.com/sql-in-data-science-af0b4492bcd

cur.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cur.fetchall())#Output:
[('Album',), ('Artist',), ('Customer',), ('Employee',), ('Genre',), ('Invoice',), ('InvoiceLine',), ('MediaType',), ('Playlist',), ('PlaylistTrack',), ('Track',)]The output of this query statement returned all of the tables in the database.

# even more detailed information on each of the tables >>> PRAGMA command
cur.execute("PRAGMA table_info(Employee)")
info = cur.fetchall()
print(*info, sep = "\n")
#Output:
# (0, 'EmployeeId', 'INTEGER', 1, None, 1)
# (1, 'LastName', 'NVARCHAR(20)', 1, None, 0)
# (2, 'FirstName', 'NVARCHAR(20)', 1, None, 0)
# (3, 'Title', 'NVARCHAR(30)', 0, None, 0)
# (4, 'ReportsTo', 'INTEGER', 0, None, 0)
# (5, 'BirthDate', 'DATETIME', 0, None, 0)
# (6, 'HireDate', 'DATETIME', 0, None, 0)
# (7, 'Address', 'NVARCHAR(70)', 0, None, 0)
# (8, 'City', 'NVARCHAR(40)', 0, None, 0)
# (9, 'State', 'NVARCHAR(40)', 0, None, 0)
# (10, 'Country', 'NVARCHAR(40)', 0, None, 0)
# (11, 'PostalCode', 'NVARCHAR(10)', 0, None, 0)
# (12, 'Phone', 'NVARCHAR(24)', 0, None, 0)
# (13, 'Fax', 'NVARCHAR(24)', 0, None, 0)
# (14, 'Email', 'NVARCHAR(60)', 0, None, 0)
# The output of this query statement returned the Employee table's Column ID, Column Name, Column Type, Not Null Values, Default Value, and Primary Key.

cursor.description
# 1. name
# 2. type_code
# 3. display_size
# 4. internal_size
# 5. precision
# 6. scale
# 7. null_ok

#Importing Pandas
import pandas as pdcur.execute("""
    SELECT FirstName, LastName, CustomerId, Country
    FROM customer
    WHERE country != 'USA'
""")
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df.head(10)
#Output:
# df

cur.execute("""
    SELECT Name, AlbumId, TrackId, Milliseconds
    FROM track
    WHERE Milliseconds BETWEEN 205205 AND 300000
    ORDER BY Milliseconds Desc
    LIMIT 10
""")
info = cur.fetchall()
print(*info, sep = "\n")
#Output:
# ('Breathe', 212, 2613, 299781)
# ('Queixa', 23, 524, 299676)
# ('Getaway Car', 10, 97, 299598)
# ('Winterlong', 201, 2485, 299389)
# ('Cherub Rock', 202, 2491, 299389)
# ('Sonata for Solo Violin: IV: Presto', 325, 3480, 299350)
# ('Linha Do Equador', 21, 218, 299337)
# ('Who Are You (Single Edit Version)', 221, 2749, 299232)
# ('Garden', 181, 2201, 299154)
# ('The Spirit Of Radio', 196, 2406, 299154)

# Aggregate Functions

# These SQL functions can be really helpful when performing statistical analysis. We can get the average values, minimum and maximum values, and the sum of values in a column. The COUNT function returns the number of records that meet a certain condition.

# The GROUP BY function will return your results grouped together by a set column. Examples of this would be grouping results by gender, breed, or nationality.

# Below is an example query for total sales per country with the results being grouped by each country. I am also aliasing the sum of totals as ‘TotalSales’ in order to group the results by the total sales for each country.

cur.execute('''
    SELECT i.billingcountry, sum(total) as 'TotalSales'
    FROM invoice AS i
    GROUP BY billingcountry
    ORDER BY totalsales DESC
    '''
)
            
info = cur.fetchall()
print(*info, sep = "\n")
#Output:
# ('USA', 523.0600000000003)
# ('Canada', 303.9599999999999)
# ('France', 195.09999999999994)
# ('Brazil', 190.09999999999997)
# ('Germany', 156.48)
# ('United Kingdom', 112.85999999999999)
# ('Czech Republic', 90.24000000000001)
# ('Portugal', 77.23999999999998)
# ('India', 75.25999999999999)
# ('Chile', 46.62)
# ('Ireland', 45.62)
# ('Hungary', 45.62)
# ('Austria', 42.62)
# ('Finland', 41.620000000000005)
# ('Netherlands', 40.62)
# ('Norway', 39.62)
# ('Sweden', 38.620000000000005)
# ('Poland', 37.620000000000005)
# ('Italy', 37.620000000000005)
# ('Denmark', 37.620000000000005)
# ('Australia', 37.620000000000005)
# ('Argentina', 37.620000000000005)
# ('Spain', 37.62)
# ('Belgium', 37.62)